# **UNICORN Project preparation**

## **Installing and importing packages**

In [1]:
# Imports
import pandas as pd
import sqlalchemy as sa

## **Creating and making a connection**

In [2]:
Unicorn_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Unicorn"

In [3]:
# Creating engine nad making connection
engine = sa.create_engine(Unicorn_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

# **Assignment: SQL Queries for Unicorn Team**

--------------------------------------------------------------------------------

### **1. How many customers do we have in the data?**

In [4]:
query = """

SELECT
COUNT(DISTINCT customer_id) AS total_customers
FROM customers;

"""
pd.read_sql(sa.text(query),connection)

   total_customers
0              795

### **2. What was the city with the most profit for the company in 2015?**

In [5]:
query = """

SELECT
o.shipping_city,
SUM(od.order_profits) AS total_profit
FROM orders AS o
JOIN order_details AS od
	ON o.order_id = od.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY total_profit DESC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

   shipping_city  total_profit
0  New York City       14753.0

### **3. In 2015, what was the most profitable city's profit?**

In [6]:
query = """

SELECT
SUM(order_profits) AS max_profit
FROM orders AS o
JOIN order_details AS od
	ON o.order_id = od.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY max_profit DESC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

   max_profit
0     14753.0

### **4. How many different cities do we have in the data? Please refer just to the city name and not similar city names in different states.**

In [7]:
# We want to count the number of distinct city names, regardless of their state or region. Then that will return a single number representing how many different city names are in your data, without considering state or region differences.

query = """

SELECT
COUNT(DISTINCT shipping_city) AS distinct_city_count
FROM orders;

"""
pd.read_sql(sa.text(query),connection)

   distinct_city_count
0                  531

### **5. Show the total spent by customers from low to high.**

In [8]:
# To show the total amount spent by each customer, ordered from low to high,
# we are joining the customers, orders, and order_details tables and sum the order_sales per customer.

query = """

SELECT
c.customer_id,
c.customer_name,
SUM(od.order_sales) AS total_spent
FROM customers AS c
JOIN orders AS o
	ON c.customer_id = o.customer_id
JOIN order_details AS od
	ON o.order_id = od.order_id
GROUP BY c.customer_id, c.customer_name
ORDER BY total_spent ASC;

"""
pd.read_sql (sa.text(query),connection)

# The result returns only 723 customers, because in our query uses INNER JOIn, which includes customers with at least one order.

     customer_id    customer_name  total_spent
0            456     Lela Donovan          5.0
1            738    Thais Sissman          5.0
2            546  Mitch Gastineau         16.0
3            124     Carl Jackson         17.0
4            657       Roy Skaria         22.0
..           ...              ...          ...
788          758     Tom Ashbrook      14596.0
789          623     Raymond Buch      15117.0
790          388         John Lee      16744.0
791          731     Tamara Chand      19050.0
792          687      Sean Miller      25042.0

[793 rows x 3 columns]

In [9]:
# PROOF : We have 2 customers have never placed an order.

query = """

SELECT COUNT(*)
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
WHERE o.order_id IS NULL;

"""
pd.read_sql (sa.text(query),connection)

   count
0      2

### **6. What is the most profitable city in the State of Tennessee?**

In [11]:
query = """

SELECT
o.shipping_city,
SUM(od.order_profits) AS total_profit
FROM orders AS o
JOIN order_details AS od
	ON o.order_id = od.order_id
WHERE o.shipping_state = 'Tennessee'
GROUP BY o.shipping_city
ORDER BY total_profit DESC
LIMIT 1;

"""
pd.read_sql (sa.text(query),connection)

  shipping_city  total_profit
0       Lebanon          83.0

### **7. Whatâ€™s the average annual profit for that city across all years?**

In [17]:
query = """

SELECT
	ROUND(CAST (avg(order_profits) as NUMERIC),2) AS avg_profit
FROM order_details as od
JOIN orders as ord
	USING (order_id)
WHERE shipping_city = 'Lebanon'

"""
pd.read_sql (sa.text(query),connection)

   avg_profit
0       27.67

### **8. What is the distribution of customer types in the data?**

In [19]:
query = """

SELECT
customer_segment,
COUNT(customer_id) AS customer_distribution
FROM customers
WHERE customer_segment = 'Consumer'
GROUP BY 1 ;

"""
pd.read_sql(sa.text(query),connection)

  customer_segment  customer_distribution
0         Consumer                    410

### **9. Whatâ€™s the most profitable product category on average in Iowa across all years?**

In [14]:
query = """

WITH yearly_profits AS (
  SELECT
    p.product_category,
    EXTRACT(YEAR FROM o.order_date) AS year,
    SUM(od.order_profits) AS total_yearly_profit
  FROM orders AS o
  JOIN order_details AS od
  	ON o.order_id = od.order_id
  JOIN product AS p
  	ON od.product_id = p.product_id
  WHERE o.shipping_state = 'Iowa'
  GROUP BY p.product_category, year
)
SELECT
  product_category,
  AVG(total_yearly_profit) AS avg_annual_profit
FROM yearly_profits
GROUP BY product_category
ORDER BY avg_annual_profit DESC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

  product_category  avg_annual_profit
0        Furniture         173.666667

## **OR**

In [20]:
query = """

SELECT
		product_category
FROM product as pro
JOIN order_details as od
	USING(product_id)

JOIN orders as ord
	USING(order_id)

WHERE shipping_state = 'Iowa'
GROUP BY 1
ORDER BY avg(order_profits) DESC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

  product_category
0        Furniture

### **10. What is the most popular product in that category across all states in 2016?**

In [15]:
# We already know the most profitable product category (from previous analysis).
# Now, within that category, I am finding the most popular product (the one with highest quantity sold).
# Across all states.
# For the year 2016 only.

query = """

SELECT
    p.product_name,
    SUM(od.quantity) AS total_quantity_sold
FROM orders AS o
 JOIN order_details AS od
	ON o.order_id = od.order_id
 JOIN product AS p
	ON od.product_id = p.product_id
WHERE p.product_category = 'Furniture'
  AND EXTRACT(YEAR FROM o.order_date) = 2016
GROUP BY p.product_name
ORDER BY total_quantity_sold DESC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

                                 product_name  total_quantity_sold
0  Global Push Button Manager's Chair, Indigo                 22.0

### **11. Which customer got the most discount in the data? (in total amount)**

In [21]:
query = """

SELECT
  c.customer_id,
  c.customer_name,
  SUM((od.order_sales / (1 - od.order_discount)) - od.order_sales) AS total_discount
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
JOIN customers c ON o.customer_id = c.customer_id
GROUP BY c.customer_id, c.customer_name
ORDER BY total_discount DESC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

   customer_id customer_name  total_discount
0          687   Sean Miller    23929.083333

### **12. How widely did monthly profits vary in 2018?**

In [22]:
# To understand how widely monthly profits varied in 2018,
# I have measured the spread or variability of profits per month within that year.

query = """

WITH MonthlyProfits AS (
   SELECT
       EXTRACT(MONTH FROM o.order_date) AS month,
       SUM(od.order_profits) AS month_total
   FROM
       orders o
   INNER JOIN
       order_details od ON o.order_id = od.order_id
   WHERE
       EXTRACT(YEAR FROM o.order_date) = 2018
   GROUP BY
       EXTRACT(MONTH FROM o.order_date)
)
SELECT
   month,
   month_total,
   month_total - LAG(month_total) OVER (ORDER BY month) AS month_difference
FROM MonthlyProfits
ORDER BY month;

"""
pd.read_sql(sa.text(query),connection)

    month  month_total  month_difference
0     1.0       7137.0               NaN
1     2.0       1612.0           -5525.0
2     3.0      14758.0           13146.0
3     4.0        934.0          -13824.0
4     5.0       6342.0            5408.0
5     6.0       8226.0            1884.0
6     7.0       6951.0           -1275.0
7     8.0       9034.0            2083.0
8     9.0      10987.0            1953.0
9    10.0       9272.0           -1715.0
10   11.0       9217.0             -55.0
11   12.0       8473.0            -744.0

### **13. Which was the biggest order regarding sales in 2015?**

In [23]:
query = """

SELECT
    o.order_id,
    SUM(od.order_sales) AS total_sales
FROM orders AS o
JOIN order_details AS od
	ON o.order_id = od.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.order_id
ORDER BY total_sales DESC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

         order_id  total_sales
0  CA-2015-145317      23660.0

### **14. What was the rank of each city in the East region in 2015 in quantity?**

In [24]:
query = """

SELECT
    o.shipping_city,
    SUM(od.quantity) AS total_quantity,
    RANK() OVER (ORDER BY SUM(od.quantity) DESC) AS city_rank
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
WHERE o.shipping_region = 'East'
  AND EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY city_rank
LIMIT 5;

"""
pd.read_sql(sa.text(query),connection)

   shipping_city  total_quantity  city_rank
0  New York City          1708.0          1
1   Philadelphia           403.0          2
2       Columbus           167.0          3
3         Newark            64.0          4
4      Fairfield            53.0          5

### **15. Display customer names for customers who are in the segment â€˜Consumerâ€™ or â€˜Corporate.â€™ How many customers are there in total?**

In [25]:
query = """

SELECT
    customer_name,
    COUNT(*) OVER () AS total_customers
FROM customers
WHERE customer_segment IN ('Consumer', 'Corporate');

"""
pd.read_sql(sa.text(query),connection)

          customer_name  total_customers
0         Aaron Bergman              647
1         Aaron Hawkins              647
2        Aaron Smayling              647
3             Adam Hart              647
4    Adam Shillingsburg              647
..                  ...              ...
642      Yoseph Carroll              647
643    Zuschuss Carroll              647
644  Zuschuss Donatelli              647
645        Zack Gibbens              647
646         Loren Bowen              647

[647 rows x 2 columns]

### **16. Calculate the difference between the largest and smallest order quantities for product id â€˜100.â€™**

In [26]:
query = """

SELECT
    MAX(quantity) - MIN(quantity) AS quantity_difference
FROM order_details
WHERE product_id = '100';

"""
pd.read_sql(sa.text(query),connection)

   quantity_difference
0                    4

### **17. Calculate the percent of products that are within the category â€˜Furniture'.**

In [27]:
query = """

SELECT
  ROUND((COUNT(*) * 100.0 / (SELECT COUNT(*) FROM product)),2) AS furniture_percentage
FROM product
WHERE product_category = 'Furniture';

"""
pd.read_sql(sa.text(query),connection)

   furniture_percentage
0                 20.54

### **18. Display the manufacturers with more than 1 product in the product table, with their number of products.**

In [28]:
query = """

SELECT
    product_manufacturer,
    COUNT(product_id) as number_duplicate
FROM product
GROUP BY product_manufacturer
HAVING COUNT (product_id) > 1
LIMIT 5;

"""
pd.read_sql(sa.text(query),connection)

  product_manufacturer  number_duplicate
0               Linden                 2
1              Iceberg                 3
2              SanDisk                 8
3              Memorex                13
4              Bulldog                 2

### **19. Show the product_subcategory and the total number of products in the subcategory. Order from most to least products and then by product_subcategory name ascending. What is the first subcategory in the table?**

In [29]:
query = """

SELECT
  product_subcategory,
  COUNT(*) AS total_products
FROM product
GROUP BY product_subcategory
ORDER BY total_products DESC, product_subcategory ASC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

  product_subcategory  total_products
0               Paper             277

### **20. Show the product_id(s), the sum of quantities, where for each sale of product quantities is greater than or equal to 100.**

In [30]:
query = """

SELECT
  product_id,
  SUM(quantity) AS total_quantity
FROM order_details
WHERE (quantity) >= 100
GROUP BY product_id;

"""
pd.read_sql(sa.text(query),connection)

   product_id  total_quantity
0         122           143.0
1         920           130.0
2        1507           324.0
3        1600           216.0

## **BONUS QUESTION**

### **Join all database tables into one dataset that includes all unique columns and download it as a .csv file.**

In [32]:
query = """

SELECT
    c.customer_id, c.customer_name, c.customer_segment,
    o.order_id, o.order_date, o.shipping_city, o.shipping_state, o.shipping_region,o.shipping_country,o.shipping_postal_code,o.shipping_date,o.shipping_mode,
    od.order_details_id, od.quantity, od.order_discount, od.order_sales, od.order_profits ,od.order_profit_ratio,
    p.product_id, p.product_name, p.product_category, p.product_manufacturer, p.product_subcategory
FROM customers AS c
LEFT JOIN orders AS o on c.customer_id = o.customer_id
LEFT JOIN order_details AS od on o.order_id = od.order_id
LEFT JOIN product AS p on od.product_id = p.product_id

"""
pd.read_sql(sa.text(query),connection)

,customer_id,customer_name,customer_segment,order_id,order_date,shipping_city,shipping_state,shipping_region,shipping_country,shipping_postal_code,...,quantity,order_discount,order_sales,order_profits,order_profit_ratio,product_id,product_name,product_category,product_manufacturer,product_subcategory
0,91,Bill Shonely,Corporate,CA-2015-100004,2015-09-06,New York City,New York,East,United States,10011.0,...,62.0,0.1,837.0,327.0,0.39,122.0,Alphabetical Labels for Top Tab Filing,Office Supplies,Other,Labels
1,91,Bill Shonely,Corporate,CA-2015-100004,2015-09-06,New York City,New York,East,United States,10011.0,...,18.0,0.2,2174.0,565.0,0.26,764.0,"Global Manager's Adjustable Task Chair, Storm",Furniture,Global,Chairs
2,224,Dennis Kane,Consumer,CA-2015-100006,2015-09-07,New York City,New York,East,United States,10024.0,...,3.0,0.0,378.0,110.0,0.29,161.0,AT&T EL51110 DECT,Technology,AT&T,Phones
3,62,Arthur Wiediger,Home Office,CA-2015-100032,2015-09-07,New York City,New York,East,United States,10025.0,...,53.0,0.1,715.0,272.0,0.38,122.0,Alphabetical Labels for Top Tab Filing,Office Supplies,Other,Labels
4,62,Arthur Wiediger,Home Office,CA-2015-100032,2015-09-07,New York City,New York,East,United States,10025.0,...,23.0,0.1,311.0,96.0,0.31,1342.0,Recycled Premium Regency Composition Covers,Office Supplies,Other,Binders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,640,Rob Lucas,Consumer,US-2018-169551,2018-07-07,Philadelphia,Pennsylvania,East,United States,19120.0,...,3.0,0.5,87.0,-45.0,-0.52,1190.0,O'Sullivan 3-Shelf Heavy-Duty Bookcases,Furniture,O'Sullivan,Bookcases
9995,640,Rob Lucas,Consumer,US-2018-169551,2018-07-07,Philadelphia,Pennsylvania,East,United States,19120.0,...,2.0,0.2,528.0,86.0,0.16,1278.0,Plantronics CS510 - Over-the-Head monaural Wir...,Technology,Plantronics,Accessories
9996,640,Rob Lucas,Consumer,US-2018-169551,2018-07-07,Philadelphia,Pennsylvania,East,United States,19120.0,...,2.0,0.4,684.0,-114.0,-0.17,146.0,Apple iPhone 5S,Technology,Apple,Phones
9997,795,Loren Bowen,Corporate,None,NaT,None,None,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
9998,794,Zack Gibbens,Consumer,None,NaT,None,None,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None