<a href="https://colab.research.google.com/github/prathikshaghasari/unicorn-sales-analysis/blob/main/UNICORN_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UNICORN Project preparation

### Installing and importing packages

In [2]:
# Imports
import pandas as pd
import sqlalchemy as sa

### Creating and making a connection

In [3]:
Unicorn_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Unicorn"

In [4]:
# Creating engine nad making connection
engine = sa.create_engine(Unicorn_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

## Assignment: SQL Queries for Unicorn Team

**1. How many customers do we have in the data?**

In [5]:
query = """

SELECT
COUNT(DISTINCT customer_id) AS total_customers
FROM customers;

"""
pd.read_sql(sa.text(query),connection)

   total_customers
0              795

**2. What was the city with the most profit for the company in 2015?**

In [6]:
query = """

SELECT
o.shipping_city,
SUM(od.order_profits) AS total_profit
FROM orders AS o
JOIN order_details AS od
	ON o.order_id = od.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY total_profit DESC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

   shipping_city  total_profit
0  New York City       14753.0

**3. In 2015, what was the most profitable city's profit?**

In [7]:
query = """

SELECT
SUM(order_profits) AS max_profit
FROM orders AS o
JOIN order_details AS od
	ON o.order_id = od.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY max_profit DESC
LIMIT 1;

"""
pd.read_sql(sa.text(query),connection)

   max_profit
0     14753.0

**4. How many different cities do we have in the data? Please refer just to the city name and not similar city names in different states.**

In [8]:
# We want to count the number of distinct city names, regardless of their state or region. Then that will return a single number representing how many different city names are in your data, without considering state or region differences.

query = """

SELECT
COUNT(DISTINCT shipping_city) AS distinct_city_count
FROM orders;

"""
pd.read_sql(sa.text(query),connection)

   distinct_city_count
0                  531

**5. Show the total spent by customers from low to high.**

In [9]:
# To show the total amount spent by each customer, ordered from low to high,
# we are joining the customers, orders, and order_details tables and sum the order_sales per customer.

query = """

SELECT
c.customer_id,
c.customer_name,
SUM(od.order_sales) AS total_spent
FROM customers AS c
JOIN orders AS o
	ON c.customer_id = o.customer_id
JOIN order_details AS od
	ON o.order_id = od.order_id
GROUP BY c.customer_id, c.customer_name
ORDER BY total_spent ASC;

"""
pd.read_sql (sa.text(query),connection)

# The result returns only 723 customers, because in our query uses INNER JOIn, which includes customers with at least one order.

     customer_id    customer_name  total_spent
0            456     Lela Donovan          5.0
1            738    Thais Sissman          5.0
2            546  Mitch Gastineau         16.0
3            124     Carl Jackson         17.0
4            657       Roy Skaria         22.0
..           ...              ...          ...
788          758     Tom Ashbrook      14596.0
789          623     Raymond Buch      15117.0
790          388         John Lee      16744.0
791          731     Tamara Chand      19050.0
792          687      Sean Miller      25042.0

[793 rows x 3 columns]

In [10]:
# PROOF : We have 2 customers have never placed an order.

query = """

SELECT COUNT(*)
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
WHERE o.order_id IS NULL;

"""
pd.read_sql (sa.text(query),connection)

   count
0      2

In [16]:
query = """

SELECT
    COALESCE(p.product_name, 'Unknown Product') AS product_name,
    COUNT(od.quantity) AS amount_of_items
FROM orders AS o
JOIN order_details AS od
    ON o.order_id = od.order_id
JOIN product AS p
    ON od.product_id = p.product_id
WHERE p.product_category = 'Technology'
  AND EXTRACT(YEAR FROM o.order_date) = 2016
GROUP BY p.product_name
HAVING COUNT(od.quantity) = 20;

"""
pd.read_sql (sa.text(query),connection)

Empty DataFrame
Columns: [product_name, amount_of_items]
Index: []